@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
  margin: 0%;
  padding: 0%;
  width: 100vw;
  background: var(--bg-color);
  color: var(--text-color);
  max-width: 100vw;
  overflow-x: hidden;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.dblock{
  display: block !important;
}

.dinblock{
  display: inline-block !important;
}

#loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: var(--bg-color);
  z-index: 999;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#spinner {
  animation: rotate 0.5s infinite linear;
  width: 50px;
  height: 50px;
  border: 2px solid var(--bg-color);
  border-bottom: 2px solid var(--text-color);
  border-radius: 50%;
  margin: 0;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.profile {
  width: 24vw;
  padding: 4vh 3vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--background-image) no-repeat center center;
  background-size: cover;
  position: fixed;
  color: #fff;
}

.profileImage {
  width: 180px;
  height: 180px;
}

.profile div {
  font-weight: bold;
  margin: 2.5vh 0px;
}

.profileName {
  font-size: 18px;
  font-weight: bold;
}

.profileName span {
  font-size: 24px;
  display: block;
}

.profileAbout a,
.profileName a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.profileAbout a:hover,
.profileName a:hover {
  text-decoration: underline;
}

.profileBio {
  font-size: 26px;
  width: 100%;
  display: block;
}

.profileAbout {
  font-size: 18px;
}

.profileAbout span {
  margin: 1vh 0px;
  display: block;
}

.profileAbout span i {
  font-size: 16px;
}

.profileSocials {
  color: #fff;
  text-decoration: none;
  margin: 3vh 0px !important;
}

.profileSocials span {
  display: inline-block !important;
  margin-right: 2vw !important;
  font-weight: normal !important;
}

.profileSocials span a {
  font-weight: normal !important;
}













.work {
  flex: 1;
  width: 64vw;
  /* padding: 4vh 3vw; */
  height: 92vh;
  display: inline-block;
  background-color: skyblue;
}

.work h1 {
  font-size: 50px;
  color: var(--text-color);
  font-weight: bold;
}









.work {
  margin: 2vh 0px;
  padding: 4vh 0px !important;
}

.projects {
  margin-left: -14px;
}

.work_section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5vh;
}

.projects a {
  width: calc(49% - 30px);
  display: flex;
  text-decoration: none;
}

.projects section {
  width: 100%;
  padding: 2.5vh;
  margin: 1vh;
  display: inline-block;
  border-radius: 4px;
  color: var(--text-color);
  box-shadow:  0 3px 14px 0 rgba(0,0,0,0.2);
  transition: 0.2s ease-in-out;
}

.projects section:hover {
  cursor: pointer;
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 14px -7px rgba(0,0,0,0.2);
}

.section_title {
  font-size: 17px;
  font-weight: bold;
  margin: 1vh 0px;
  padding: 0px 1px;
  word-wrap: break-word;
}

.about_section {
  font-size: 17px;
  margin: 2vh 0px;
  word-wrap: break-word;
}

.bottom_section {
  margin: 1vh 0px;
  font-size: 14px;
  word-wrap: break-word;
}

.bottom_section span {
  margin-right: 20px;
  font-weight: bold;
}

.bottom_section span i {
  font-size: 14px;
}



::selection {
  color: var(--bg-color);
  background: var(--text-color);
}

@media (max-width: 800px) {
  .profile {
    width: 90vw;
    padding: 4vh 5vw;
    height: 60vh;
    text-align: center;
    position: relative;
  }

  .work {
    width: 90vw;
    padding: 4vh 5vw;
    height: auto;
    display: inline-block;
    padding-left: 5vw;
  }

  .profileImage {
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
    max-width: 120px;
    max-height: 120px;
    margin: 0px auto !important;
  }

  .projects {
    margin-left: 0;
    /* remove neg margin to align w/ header */
  }

  .projects a {
    width: 100%;
  }

  .projects section {
    width: 88%;
  }
}


:root {
  --bg-color: #f5f5f5;
  --text-color: #212121;
  --background-image: linear-gradient(
      90deg,
      rgba(10, 10, 10, 0.4),
      rgb(10, 10, 10, 0.4)
    ),
    url("https://images.unsplash.com/photo-1516339901601-2e1b62dc0c45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=320&q=80");
  --bg-black: #000;
}
