@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  margin: 0%;
  padding: 0%;
  width: 100vw;
  background: var(--bg-color);
  color: var(--text-color);
  max-width: 100vw;
  overflow-x: hidden;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

#loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: var(--bg-color);
  z-index: 999;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#spinner {
  animation: rotate 0.5s infinite linear;
  width: 50px;
  height: 50px;
  border: 2px solid var(--bg-color);
  border-bottom: 2px solid var(--text-color);
  border-radius: 50%;
  margin: 0;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#profile {
  width: 24vw;
  padding: 4vh 3vw;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  background: var(--background-image) center center;
  background-size: cover !important;
  background-repeat: no-repeat;
  position: fixed;
  color: #fff !important;
}

#display {
  width: 64vw;
  padding: 4vh 3vw;
  height: 92vh;
  display: inline-block;
  padding-left: 33vw;
}

#display h1 {
  font-size: 50px;
  color: var(--text-color);
  font-weight: bold;
}

.emoji {
  width: 18px;
  height: 18px;
}

#background_overlay {
  width: 100vw;
  height: 55vh;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

#background {
  width: 100vw;
  height: 55vh;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
}

#header {
  width: 63vw;
  text-align: right;
  padding: 3vh 0px;
  position: absolute;
}

#header a {
  color: var(--text-color);
  text-decoration: none;
  margin-left: 4vw;
  font-weight: bold;
}

#footer {
  width: 100%;
  padding: 8vh 0px;
  text-align: center;
}

#footer a {
  color: var(--text-color) !important;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

#profile img {
  width: 180px;
  height: 180px;
  border-radius: 5px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

#profile div {
  font-weight: bold;
  margin: 1.5vh 0px;
}

#profile #username span {
  display: block;
}

#username {
  font-size: 18px;
  font-weight: bold;
}

#username span {
  font-size: 24px;
}

#userbio {
  font-size: 26px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  display: block;
}

#about {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

#about a,
#username a {
  color: #fff !important;
  text-decoration: none;
  font-weight: bold;
}

#about a:hover,
#username a:hover {
  text-decoration: underline;
}

#about span {
  margin: 1vh 0px;
  display: block;
}

#about span i {
  font-size: 16px;
  margin-right: 8px;
}

#work {
  margin: 4vh 0px;
  padding: 4vh 0px !important;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects a {
  /* width: calc(49% - 30px); */
  display: flex;
  text-decoration: none;
  width: 100%;
}

.projects section {
  width: 100%;
  padding: 2.5vh;
  margin: 1vh;
  display: inline-block;
  border-radius: 4px;
  color: var(--text-color);
  box-shadow:  0 3px 14px 0 rgba(0,0,0,0.2);
  transition: 0.2s ease-in-out;

}

.projects section:hover {
  cursor: pointer;
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 14px -7px rgba(0,0,0,0.2);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h2{
  font-size: 24px;
  font-weight: bold;
  margin: 1vh 0px;
  padding: 0px 1px;
  word-wrap: break-word;
}


.header .info {
  margin: 1vh 0px;
  font-size: 14px;
  word-wrap: break-word;
}

.header .info span {
  margin-right: 20px;
  font-weight: bold;
  display: inline-block;
}

.header .info span i {
  font-size: 15px;
  margin-right: 8px;
}

.about_section {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  margin: 2vh 0px;
  word-wrap: break-word;
}

.about_section span {
  display: block;
}

.socials {
  color: #fff;
  text-decoration: none;
  margin: 3vh 0px !important;
}

.socials span {
  display: inline-block !important;
  margin-right: 2vw !important;
  font-weight: normal !important;
}

.socials span a {
  font-weight: normal !important;
}

::selection {
  color: var(--bg-color);
  background: var(--text-color);
}

@media (max-width: 800px) {
  #profile {
    width: 90vw;
    padding: 4vh 5vw;
    height: 65vh;
    text-align: center;
    position: relative;
  }

  #display {
    width: 90vw;
    padding: 4vh 5vw;
    height: auto;
    display: inline-block;
    padding-left: 5vw;
  }

  #profile img {
    width: 120px;
    height: 120px;
    margin: 0px auto !important;
  }

  #work {
    margin: 0px;
  }

  .projects {
    margin-left: 0;
  }

  .projects a {
    width: 100%;
  }

  .projects section {
    width: 88%;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
}
:root {
  --bg-color: #fff;
  --text-color: rgb(10, 10, 10);
  --blog-gray-color: rgb(80, 80, 80);
  --background-image: linear-gradient(
      90deg,
      rgba(10, 10, 10, 0.4),
      rgb(10, 10, 10, 0.4)
    ),
    url("https://images.pexels.com/photos/355938/pexels-photo-355938.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  --background-background: #fff;
}
