:root {
  --dark-grey: #212121;
  --bg-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  user-select: none;
}

html,
body {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

#loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: var(--bg-color);
  z-index: 999;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#spinner {
  animation: rotate 0.5s infinite linear;
  width: 50px;
  height: 50px;
  border: 2px solid var(--bg-color);
  border-bottom: 2px solid var(--dark-grey);
  border-bottom: 2px solid var(--dark-grey);
  border-radius: 50%;
  margin: 0;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .profile-image {
  border-radius: 50%;
  width: 144px;
  height: 144px;
}

header .title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 1rem;
}

header .details {
  font-size: 1.2rem;
  text-align: center;
  color: var(--dark-grey);
}

header .details {
  margin-top: 1rem;
}

header .details .link {
  color: var(--dark-grey);
  text-decoration: none;
}

header .details .link:hover {
  text-decoration: underline;
}

header .socials {
  margin-top: 1rem;
  text-decoration: none;
}

header .socials a {
  display: inline-block;
  margin: 0 16px 16px;
  color: var(--dark-grey);
}

.work .title {
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: 600;
}

.work .list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.work .list-item {
  margin: 1rem 0 2rem;
  display: flex;
  flex-direction: column;
}

.work .list-item .name {
  color: #0070f3;
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.work .list-item .name:hover {
  text-decoration: underline;
}

.work .list-item .description {
  color: #666;
  margin: 8px 0;
}

.work .list-item div {
  color: rgb(70, 70, 70);
  font-size: .8rem;
}

.work .list-item div span{
  margin-right: 8px;
}

.work .list-item div span i{
  margin-right: 8px;
}


