:root {
  --dark-grey: #212121;
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .profile-image {
  border-radius: 50%;
  width: 144px;
  height: 144px;
}

.header .title {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 1rem 0;
}

.details {
  font-size: 1.2rem;
  text-align: center;
  color: var(--dark-grey);
}

.details .link {
  color: var(--dark-grey);
  text-decoration: none;
}

.details .link:hover {
  text-decoration: underline;
}

.details .socials {
  text-decoration: none;
  margin: 3vh 0px !important;
}

.details .socials span {
  display: inline-block !important;
  margin-right: 2vw !important;
  font-weight: normal !important;
}

.details .socials span a {
  color: var(--dark-grey);
  font-weight: normal !important;
}

.work {
  margin-top: 2rem;
}

.work .title {
  font-size: 2rem;
  margin: 1rem 0;
}

.work .list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.work .list-item {
  margin: 0 0 1.5rem;
  display: flex;
  flex-direction: column;
}

.work .list-item a {
  color: #0070f3;
  text-decoration: none;
  font-size: 1.2rem;
}

.work .list-item a:hover {
  text-decoration: underline;
}

.work .list-item span {
  color: #666;
  margin: 8px 0;
}

.work .list-item div {
  color: rgb(70, 70, 70);
}

.work .list-item div span{
  margin-right: 8px;
}

.work .list-item div span i{
  margin-right: 8px;
}


